* {
    border-radius: 100px;
}

body {
    background-color: #222;
    /* background-image: url(bg.jpg); */
    background-image: url(ai.png);
    background-blend-mode: soft-light;
    background-size: cover;
    font-family: sans-serif;
    margin: 100px;
    color: #dbb;
    text-shadow: 0px 0px 10px #fff8;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.row {
    flex: 1;
}

.chatbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --fontSize: 16px;
}

  
.chatbox .text {
    padding: 64px;
    font-size: var(--fontSize);
    /* text-align: justify; */
    /* line-height: 1.50; */
    /* letter-spacing: 2.00; */
    color: inherit;
    font-family: monospace;
    background-color: inherit;
    background-color: #111d;
    border: solid #fdc 1px;
    resize: none;
    box-shadow: 10px 10px 40px #000;
    flex: 1;
    overflow-y: auto;
}

#left, #right_log, #right_input {
    white-space: pre-wrap;
}

.chatbox .text::-webkit-scrollbar {
    display: none;
}

.chatbox .text span { 
    color: #3da; 
    text-shadow: 0px 0px 10px #3da8; 
    background-color: #3da4; 
    border-radius: 0;
}

#right_log {
    color: inherit;
    text-shadow: 0px 0px 10px #fff8;
    background: none;
    border-radius: 0;
}

.chatbox .text b {
    color: #fdc;
}

/* .chatbox .text  */
h1,h2,h3,h4 {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

h1 { color: #d7b; text-shadow: 0px 0px 10px #d7b8; }
h2 { color: #b8c; text-shadow: 0px 0px 10px #b8c8; }
h3 { color: #9ac; text-shadow: 0px 0px 10px #9ac8; }
h4 { color: #7bd; text-shadow: 0px 0px 10px #7bd8; }

.chatbox .button {
    height: 40px;
    width: 200px;
    margin: 20px;
    font-size: var(--fontSize);
    font-weight: bold;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #888;
    border: solid 1px;
    cursor: pointer;
    box-shadow: 10px 10px 40px #000;
}
.chatbox .button:hover {
    background-color: #555;
    color: #ddd;
}
.chatbox .button:active {
    background-color: #78c;
    color: #ddd;
}

img {
    flex: 2;
    /* border: solid 1px; */
    margin: 0px 10px;
}